<div class="curator staffCurator">
    <img src="https://www.github.com/dag7dev.png" class="curPic">
    <p class="staffTitle" style="font-size: 1.05em; margin-top: 5.5px;"><b>Damiano Gualandri</b><p>
    <div class="curSocials">
        <a href="https://github.com/dag7dev"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/iamdag7"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <!--<a href="mailto:dag7@protonmail.com"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
    </div>
</div>