<div class="curator staffCurator">
  <img src="https://www.github.com/ElBi21.png" class="curPic">
  <p class="staffTitle"><b>Leonardo Biason</b><p>
  <div class="curSocials">
    <a href="https://github.com/ElBi21"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
    <a href="https://telegram.me/ElBi21"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
    <!--<a href="mailto:leonardo@biason.org"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
  </div>
</div>
