<div class="curator staffCurator">
    <img src="https://www.github.com/exyss.png" class="curPic">
    <p class="staffTitle"><b>Simone Bianco</b><p>
    <div class="curSocials">
        <a href="https://github.com/Exyss"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/Exyss"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <!--<a href="mailto:bianco.simone@outlook.it"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
    </div>
</div>