<div class="curator staffCurator">
    <img src="https://www.github.com/neoSnakex34.png" class="curPic">
    <p class="staffTitle" style="font-size: 1.1em; margin-top: 3px;"><b>Francesco J. Fanti</b><p>
    <div class="curSocials">
        <a href="https://github.com/neoSnakex34"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/neoSnakex"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <!--<a href="mailto:francescojamesfanti@gmail.com"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
    </div>
</div>