{{ define "main" }}
    <article class="markdown book-article"><h1 id="-curatori-del-progetto">
        🖋 Curatori del Progetto

        <a class="anchor" href="#-curatori-del-progetto">#</a>
    </h1>
        <div class="curatorList">
            <div class="curator">
                <img src="https://www.github.com/Lorenzoantonelli.png" class="curPic">
                <p class="curTitle"><b>Lorenzo Antonelli</b><p>
                <div class="curSocials">
                    <a href="https://github.com/Lorenzoantonelli"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
                    <a href="https://t.me/lorenzosphotos"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
                </div>
                <div class="separator"></div>
                <div class="curBadges">
                    <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Informatica</div></a>
                    <a href="#anch_curBadge_Tutor"><div class="curBadge curTutor"><i class="fa-solid fa-person-chalkboard"></i> Tutor per il CAD</div></a>
                    <a href="#anch_curBadge_ContCur"><div class="curBadge curContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> Content Curator</div></a>
                    <a href="#anch_curBadge_CodeDev"><div class="curBadge curCodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> Code Developer</div></a>
                </div>
            </div>

            <div class="curator">
                <img src="https://www.github.com/matypist.png" class="curPic">
                <p class="curTitle"><b>Matteo Collica</b><p>
                <div class="curSocials">
                    <a href="https://github.com/matypist"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
                    <a href="https://t.me/Matypist"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
                    <a href="mailto:matypist@sapienzastudents.net"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
                </div>
                <div class="separator"></div>
                <div class="curBadges">
                    <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Informatica</div></a>
                    <a href="#anch_curBadge_CADRepr"><div class="curBadge curCADRepr"><i class="fa-solid fa-bolt" style="color: #feffff;"></i> Rappresentante</div></a>
                    <a href="#anch_curBadge_ContCur"><div class="curBadge curContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> Content Curator</div></a>
                    <a href="#anch_curBadge_CodeDev"><div class="curBadge curCodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> Code Developer</div></a>
                </div>
            </div>

            <div class="curator">
                <img src="https://www.github.com/ElBi21.png" class="curPic">
                <p class="curTitle"><b>Leonardo Biason</b><p>
                <div class="curSocials">
                    <a href="https://github.com/ElBi21"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
                    <a href="mailto:leonardo@biason.org"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
                </div>
                <div class="separator"></div>
                <div class="curBadges">
                    <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> ACSAI</div></a>
                    <a href="#anch_curBadge_Tutor"><div class="curBadge curTutor"><i class="fa-solid fa-person-chalkboard"></i> Tutor per il CAD</div></a>
                    <a href="#anch_curBadge_ContCur"><div class="curBadge curContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> Content Curator</div></a>
                    <a href="#anch_curBadge_CodeDev"><div class="curBadge curCodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> Code Developer</div></a>
                </div>
            </div>

            <div class="curator">
                <img src="https://www.github.com/CuriousCI.png" class="curPic">
                <p class="curTitle"><b>Ionut Cicio</b><p>
                <div class="curSocials">
                    <a href="https://github.com/CuriousCI"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
                    <a href="https://t.me/CuriousCI"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
                </div>
                <div class="separator"></div>
                <div class="curBadges">
                    <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Informatica</div></a>
                    <a href="#anch_curBadge_Tutor"><div class="curBadge curTutor"><i class="fa-solid fa-person-chalkboard"></i> Tutor per il CAD</div></a>
                    <a href="#anch_curBadge_ContCur"><div class="curBadge curContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> Content Curator</div></a>
                    <a href="#anch_curBadge_CodeDev"><div class="curBadge curCodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> Code Developer</div></a>
                </div>
            </div>
        </div>
        <h2 id="cosa-significano-i-badge">
            Cosa significano i badge?
            <a class="anchor" href="#cosa-significano-i-badge">#</a>
        </h2>
        <table>
            <tr>
                <td align="center"><div class="curBadge curCourse" id="anch_curBadge_Course"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Corso di Laurea</div></td>
                <td>Questo badge indica il Corso di Laurea attuale o completato dal curatore presso Sapienza</td>
            </tr>
            <tr>
                <td align="center"><div class="curBadge curTutor" id="anch_curBadge_Tutor"><i class="fa-solid fa-person-chalkboard"></i> Tutor per il CAD</div></td>
                <td>Questo badge indica che il curatore è un tutor del Consiglio di Area Didattica (CAD) di Informatica per l'anno accademico 2023-2024</td>
            </tr>
            <tr>
                <td align="center"><div class="curBadge curContCur" id="anch_curBadge_ContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> Content Curator</div></td>
                <td>Questo badge indica che il curatore compone o ha composto contenuti per il sito</td>
            </tr>
            <tr>
                <td align="center"><div class="curBadge curCodeDev" id="anch_curBadge_CodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> Code Developer</div></td>
                <td>Questo badge indica che il curatore sviluppa o ha sviluppato codice per il sito</td>
            </tr>
            <tr>
                <td align="center"><div class="curBadge curCADRepr" id="anch_curBadge_CADRepr"><i class="fa-solid fa-bolt" style="color: #feffff;"></i> Rappresentante</div></td>
                <td>Questo badge indica che il curatore è un Rappresentante degli Studenti al Consiglio di Area Didattica (CAD) di Informatica</td>
            </tr>
        </table>
    </article>
{{ end }}
