{% unless page.url == '/'
    or page.url contains 'orari'
    or page.url contains 'gruppi'
    or page.url contains 'contribuire'
    or page.url contains 'informatica'
%}
    <div class="block">
        <p>
            ℹ️ Questa pagina, come le altre presenti nel sito, sono parte di un progetto <a href="http://github.com/sapienzastudentsnetwork/sapienzastudentsnetwork.github.io">Open Source</a> gestito da studenti per gli studenti<br>
            <br>

            ⚠️ Le informazioni attualmente contenute nel sito sono relative al CdL in Informatica - triennale in presenza [<a href="https://uniroma1-29923.sapienzastudents.net/home"
            >29923</a
            >], le informazioni indicate non corrispondono quindi per il CdL prevalentemente a distanza
            (teledidattica) [<a href="https://uniroma1-29400.sapienzastudents.net/home">29400</a>] o in inglese (ACSAI)
            [<a href="https://uniroma1-30786.sapienzastudents.net/home">30786</a>]<br>
            <br>

            ✏️ Scopri come
            <a href="http://sapienzastudents.net/contribuire">contribuire</a>, segnalando incoerenze o integrando nuove informazioni, affinché il sito sia sempre aggiornato e ricco di
            informazioni utili 🙂

            {% assign last_modified_date = page.last_modified_at %}

            {% if last_modified_date %}
                <br>
                <br>
                📅 Questa pagina è stata modificata l'ultima volta in data {{ last_modified_date }}
            {% endif %}
        </p>
    </div>
{% endunless %}
