<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<script>
    navigator.serviceWorker && navigator.serviceWorker
        .register("{{ '/service-worker.js?v=' | append: site.github.build_revision | relative_url }}");
</script>
<link rel="manifest" href="{{ '/manifest.json?v=' | append: site.github.build_revision | relative_url }}">
<meta name="theme-color" content="#282828">
