<!-- Desktop -->

<div
    class="w-[88px] min-w-[88px] h-screen hidden md:flex flex-col justify-between items-center py-4 shadow-xl dark:shadow-2xl dark:shadow-black z-10 dark:bg-black dark:text-white">
    <nav class="flex flex-col items-center">
        {% for link in site.nav %}
            {% assign label = "text-gray-800 dark:text-gray-100" %}
            {% assign icon = "group-hover:bg-gray-100 group-hover:dark:bg-gray-800" %}

            {% assign url = page.url | replace: ".", "" | split: "/" | last %}
            {% assign permalink = link.permalink | replace: ".", "" | split: "/" | last %}

            {% if url==permalink %}
                {% assign label = "font-bold text-black dark:text-white" %}
                {% assign icon = "fill bg-black text-white dark:bg-white dark:text-black" %}
            {% endif %}

            <a href="{{ site.baseurl | append: '/' | append: permalink }}" class="group w-min mb-3 mx-1 flex flex-col items-center">
                <span class="material-symbols-outlined {{ icon }} rounded-full px-4 py-1 mb-1 ">
                    {{ link.icon }}
                </span>
                <span class="text-xs {{ label }} text-center">
                    {{ link.text }}
                </span>
            </a>
        {% endfor %}
    </nav>
    <span id="darkMode"
        class="material-symbols-outlined rounded-full p-4 border border-black dark:border-white cursor-pointer"
        onclick="toggleDarkMode()">
        dark_mode
    </span>
</div>


<!-- Mobile -->

<div
    class="relative z-10 w-full h-12 md:hidden flex items-center p-7 bg-white dark:bg-black dark:text-white justify-between">
    <div class="flex items-center gap-5">
        <button class="material-symbols-outlined cursor-pointer" onclick="openDialog()">
            menu
        </button>
        <h1 class="font-bold"> Sapienza Informatica </h1>
    </div>
    <div class="flex items-center gap-2">
        <a href="risorse" class="material-symbols-outlined">
            link
        </a>
        <a href="orari" class="material-symbols-outlined">
            calendar_month
        </a>
    </div>
</div>


<!-- Mobile Side Dialog -->

<dialog
    class="h-full ml-0 p-4 items-center rounded-r-3xl shadow-xl dark:shadow-2xl dark:shadow-black backdrop:backdrop-blur-sm dark:bg-black dark:text-white"
    id="nav" onclick="closeDialog()">
    <div class="flex flex-col justify-between items-center h-full">
        <div>
            <button class="material-symbols-outlined rounded-full p-2 m-2 hover:bg-gray-100 cursor-pointer"
                onclick="closeDialog()">
                menu_open
            </button>

            {% for link in site.nav %}

            {% assign color = "hover:bg-gray-100 dark:hover:bg-gray-800" %}
            {% assign label = "text-gray-800 dark:text-gray-100" %}
            {% assign icon = "group-hover:fill" %}

            {% assign url = page.url | replace: ".", "" | split: "/" | last %}
            {% assign permalink = link.permalink | replace: ".", "" | split: "/" | last %}

            {% if url==permalink %}
            {% assign color = "bg-black dark:bg-white" %}
            {% assign label = "font-bold text-white dark:text-black" %}
            {% assign icon = "fill text-white dark:text-black" %}
            {% endif %}

            <a href="{{ link.permalink }}"
                class="group w-72 h-12 py-1 px-4 flex {{ color }} items-center rounded-full ">
                <span class="material-symbols-outlined {{ icon }} mr-4 rounded-full">
                    {{ link.icon }}
                </span>
                <span class="text-base {{ label }} text-center">
                    {{ link.text }}
                </span>
            </a>
            {% endfor %}
        </div>
        <span class="rounded-full p-4 border border-black dark:border-white flex items-center gap-4 cursor-pointer"
            onclick="toggleDarkMode()">
            <span id="darkMode2" class="material-symbols-outlined">
                dark_mode
            </span>

            Cambia tema
        </span>
    </div>
</dialog>

<script>
    function openDialog() {
        document.getElementById('nav').showModal();
    }

    function closeDialog() {
        document.getElementById('nav').close();
    }

    // document.addEventListener('DOMContentLoaded', () => {
    const darkMode = JSON.parse(localStorage.getItem('darkMode'))
    document.getElementById('darkMode').innerHTML = darkMode ? 'light_mode' : 'dark_mode';
    document.getElementById('darkMode2').innerHTML = darkMode ? 'light_mode' : 'dark_mode';
    document.body.classList.toggle('dark', darkMode);
    // });


    function toggleDarkMode(e) {
        document.body.classList.toggle('dark');
        localStorage.setItem('darkMode', document.body.classList.contains('dark'));
        document.getElementById('darkMode').innerHTML = JSON.parse(localStorage.getItem('darkMode')) ? 'light_mode' : 'dark_mode';
        document.getElementById('darkMode2').innerHTML = JSON.parse(localStorage.getItem('darkMode')) ? 'light_mode' : 'dark_mode';
        window.event.stopPropagation();
    }
</script>
