@media screen and (min-width: 100px) {
    .curatorList {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center
    }

    .curator {
        background-color: #5d656a30;
        width: 90%;
        height: 400px;
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}

@media screen and (min-width: 520px) {
    .curatorList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px
    }

    .curator {
        background-color: #5d656a30;
        width: 45%;
        height: 350px;
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curBadges {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 15px
    }
}

@media screen and (min-width: 720px) {
    .curatorList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px
    }

    .curator {
        background-color: #5d656a30;
        width: 30%;
        height: 350px;
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.curSocials {

}

.curPic {
    width: 50%;
    border-radius: 128px;
    margin-top: -40px;
    border: 3.5px solid #dedede;
}

.curTitle {
    font-size: 1.5em;
    margin-top: 2px;
}

.curSubtitle {
    font-size: 1.2em;
    margin-top: -200px;
}

.curBadge {
    width: max-content;
    border-radius: 8px;
    padding: 1px 6px 1px 6px;
    margin: 4px;
}

.curCourse {
    background-color: #a42a2e;
}

.curTutor {
    background-color: #2a69a4;
}

.curContCur {
    background-color: #cf8132;
}

.curCodeDev {
    background-color: #4d9065;
}

.curCADRepr {
    background-color: #8332cf;
}

.curBadges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
