@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
}

.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

img {
    display: inline !important;
}

blockquote {
    @apply bg-white shadow-md shadow-gray-300 dark:shadow-black dark:bg-gray-800;
}

blockquote > p {
    @apply p-4;
}

details[open] { 
    @apply mb-5;
}

details[open] > summary { 
    @apply mb-2;
}

summary {
    @apply text-black dark:text-white;
}


@variants group-hover {
    .fill {
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
}


.on-this-page.H2 {
    @apply font-bold;
}

.on-this-page.H3 {
    @apply ml-5;
}

.on-this-page.H4 {
    @apply ml-10 whitespace-nowrap overflow-ellipsis overflow-hidden;
}


.highlighted {
    @apply text-black  dark:!text-white;
}

.red {
    @apply text-red-600 dark:text-red-400;
}

.orange {
    @apply text-orange-600 dark:text-orange-400;
}

.yellow {
    @apply text-yellow-600 dark:text-yellow-400;
}

.green {
    @apply text-green-600 dark:text-green-400;
}

.emerald {
    @apply text-emerald-600 dark:text-emerald-400;
}

.teal {
    @apply text-teal-600 dark:text-teal-400;
}

.cyan {
    @apply text-cyan-600 dark:text-cyan-400;
}

.blue {
    @apply text-blue-600 dark:text-blue-400;
}

.purple {
    @apply text-purple-600 dark:text-purple-400;
}

.fuchsia {
    @apply text-fuchsia-600 dark:text-fuchsia-400;
}

table {
    @apply !overflow-x-auto;
}

/* , 'pink', 'indigo', 'gray' */

/* th, td, tr { */
/*     @apply whitespace-nowrap overflow-ellipsis overflow-hidden w-fit; */
/* } */

/* table { */
/*     @apply !w-fit; */
/* } */

h5 { font-weight: bold }
