@media screen and (min-width: 100px) {
    :root {
        --dash-height: calc(1000px - 250px);
        --panels-height: 250px;
        --pfp-width: 100px;
    }

    .course_panel_wide {
        width: calc(100% - 6px);
    }

    .course_panel {
        width: calc(50% - 6px);
    }

    .explore_badges {
        margin: 10px 0 0 0;
    }

    .course_mat {
        font-size: 12.5px;
    }

    .course_panel_title {
        text-align: center;
        line-height: 1.2;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --dash-height: 500px;
        --panels-height: 250px;
        --pfp-width: 40%;
    }

    .course_panel_wide {
        width: calc(50% - 6px);
    }

    .course_panel {
        width: calc(25% - 6px);
    }

    .explore_badges {
        margin: 30px 0 0 0;
    }

    .course_mat {
        font-size: 14.25px;
    }

    .course_panel_title {
        text-align: center;
        line-height: 1;
    }
}

.course_dash {
    width: 100%;
    height: var(--dash-height);
    background-color: var(--course-dash-background);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: start;
    align-items: center;
}

.course_panel_wide, .course_panel {
    height: calc(var(--panels-height) - 12px);
    background-color: var(--course-panel-background);
    border-radius: 8px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.course_panel_title {
    font-family: "DM Sans";
    font-weight: 250;
    font-size: 24px;
    margin: 0;
}

.course_gen {
    width: 99%;
    padding: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.course_badge {
    width: fit-content;
    height: 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 400;
    padding: 0 8px 0 8px;
    margin: 3px;
}

.course_dept {
    background-color: #9E3131;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_units {
    background-color: #427390;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_cfus {
    background-color: #367341;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_writ_exam {
    background-color: #95653B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_oral_exam {
    background-color: #95653B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_proj_exam {
    background-color: #957F3B;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.course_tutor {
    background-color: #8A6CA6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.prof_img {
    width: var(--pfp-width);
    border-radius: 100%;
    border: 3.5px solid #dedede;
    margin: 0 0 3px 0;
}

.class_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.class_tab {
    background-color: var(--course-panel-background);
    font-family: "DM Sans";
    height: calc((var(--panels-height) / 2) - 8px);
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.class_icon {
    color: #8e9693;
    margin: 0 12px 0 12px;
}

.class_details {
    display: flex;
    flex-direction: column;
    padding-right: 4px;
}

.class_single_detail {
    margin: 4px 0 4px 0;
    line-height: 1;
}

.class_title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: -2px;
}

.small_text {
    font-size: 10px;
}

#class1 {
    margin-bottom: 4px;
}

#class2 {
    margin-top: 4px;
}

#panel_transp {
    background-color: transparent;
}

/*      B A D G E S     P O P U P       */

.explore_badges, .course_mat {
    background-color: #eeeeee;
    font-family: 'DM Sans';
    font-weight: 200;
    color: #252d3f;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border-width: 0;
}

.explore_badges {
    font-size: 18px;
    width: 120px;
}

.course_mat {
    width: 90%;
    margin: 10px 0 0 0;
    font-weight: 300;
}

#course_moodle {
    border: 2.5px solid rgba(226,141,32,1);
}

#course_classroom {
    border: 2.5px solid rgba(115,171,55,1);
}

#course_gdrive {
    border: 2.5px solid rgba(55,160,171,1);
}

#course_prof_site {
    border: 2.5px solid rgba(159,119,196,1);
}

#badges_meaning {
    box-shadow: 0px 0px 120px rgba(0, 0, 0, 1);
    border-radius: 32px;
}
