:root {
    --cybersec-curator-height: 330px;
    --curator-height: 430px;
    --border-color: #dedede;
}

@media screen and (min-width: 100px) {
    .curatorList {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center
    }

    .curator {
        background-color: #5d656a30;
        width: 90%;
        height: var(--curator-height);
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .cyberSecCurator {
        height: var(--cybersec-curator-height);
    }

    .staffCurator {
        height: 280px;
    }
}

@media screen and (min-width: 400px) {
    .staffCurator {
        height: 220px;
    }
}

@media screen and (min-width: 450px) {
    .staffCurator {
        height: 240px;
    }
}

@media screen and (min-width: 480px) {
    .staffCurator {
        height: 260px;
    }
}


@media screen and (min-width: 520px) {
    .curatorList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px
    }

    .curator {
        background-color: #5d656a30;
        width: 45%;
        height: var(--curator-height);
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cyberSecCurator {
        height: var(--cybersec-curator-height);
    }

    .staffCurator {
        height: 200px;
    }

    .curBadges {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 15px
    }
}

@media screen and (min-width: 720px) {
    .curatorList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px
    }

    .curator {
        background-color: #5d656a30;
        width: 30%;
        height: var(--curator-height);
        border-radius: 8px;
        margin: 50px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cyberSecCurator {
        height: var(--cybersec-curator-height);
    }

    .staffCurator {
        height: 170px;
    }
}

.curSocials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -40px
}

.curSocialIcon {
    color: #8e9693;
    margin: 0 15px 0 15px;
}

.curPic {
    width: 50%;
    border-radius: 128px;
    margin-top: -40px;
    border: 3.5px solid var(--border-color);
}

.curTitle {
    font-size: 1.5em;
    margin-top: 2px;
}

.staffTitle {
    font-size: 1.2em;
    margin-top: 2.2px;
}

.curSubtitle {
    font-size: 1.2em;
    margin-top: -200px;
}

.curBadge {
    width: max-content;
    border-radius: 8px;
    padding: 1px 6px 1px 6px;
    margin: 4px;
    text-decoration: none;
    color: #e9ecef;
}

.curCourse {
    background-color: #a42a2e;
}

.curTutor {
    background-color: #2a69a4;
}

.curVolunteer {
    background-color: #359396;
}

.curSSN {
    background-color: #000000;
}

.curContCur {
    background-color: #cf8132;
}

.curCodeDev {
    background-color: #4d9065;
}

.curCADRepr, .curDIRepr {
    background-color: #8332cf;
}

.curDIPRepr {
    background-color: #5b2393;
}

.curCSRepr {
    background-color: #356f54;
}

.curCyberSecRepr {
    background-color: #C39C1F;
}

.curBadges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.curSeparator {
    width: 98%;
    height: 1.5px;
    background-color: #a3a3a3;
    border-radius: 3px;
    margin: 25px 0 20px 0;
}
