h1, h2, h3, h4, h5 {
    font-family: "DM Sans";
    font-weight: 900;
}

.markdown h1, h2, h3, h4, h5 {
    font-family: "DM Sans";
    font-weight: 900;
}

h1 {
    font-size: 40px;
}

p, li, tr, a, label, summary, blockquote, button {
    font-family: "DM Sans";
    font-weight: 400;
}

summary {
    line-height: 1.2;
}

code {
    font-family: "JetBrains Mono";
    font-weight: 400;
}

kbd {
    font-family: "JetBrains Mono";
    font-weight: 800;
    background-color: #3c3c3c;
    border: solid gray 1px;
    border-radius: 4px;
    padding: 0 4px 0 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.SiteLogo {
    border-radius: 8px;
}
