h1, h2, h3, h4, h5 {
    font-family: "DM Sans";
    font-weight: 900;
}

h1 {
    font-size: 40px;
}

p, li, tr, a, label {
    font-family: "DM Sans";
    font-weight: 400;
}

.SiteLogo {
    border-radius: 8px;
}
