<div class="curator">
  <img src="https://www.github.com/ElBi21.png" class="curPic">
  <p class="curTitle"><b>Leonardo Biason</b><p>
  <div class="curSocials">
    <a href="https://github.com/ElBi21"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
    <!--<a href="https://telegram.me/ElBi21"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>-->
    <a href="mailto:leonardo@biason.org"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
    <!--<a href="mailto:biason@sapienzastudents.net"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
  </div>
  <div class="curSeparator"></div>
  <div class="curBadges">
    <a href="https://sapienzastudents.net/sapienzafeed/corsidilaurea/33502/en/index.html" target="_blank" rel="noopener noreferrer"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> ACSAI</div></a>
  </div>
</div>
