<div class="curator">
    <img src="https://www.github.com/Lorenzoantonelli.png" class="curPic">
    <p class="curTitle"><b>Lorenzo Antonelli</b><p>
    <div class="curSocials">
        <a href="https://github.com/Lorenzoantonelli"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/lorenzosphotos"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <!--<a href="mailto:lorenzo.antonelli@sapienzastudents.net"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="https://phd.uniroma1.it/web/DOTTORANDI-DATA-SCIENCE_nI3565_IT.aspx" target="_blank" rel="noopener noreferrer"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> {{ if eq .Lang "it" }}Dottorando{{ else }}PhD Student{{ end }}</div></a>
    </div>
</div>