<div class="curator">
    <img src="https://www.github.com/marcellogalisai.png" class="curPic">
    <p class="curTitle"><b>Marcello Galisai</b><p>
    <div class="curSocials">
        <a href="https://github.com/marcellogalisai"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/marcellogalisai"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Filosofia&IA</div></a>
        <a href="#anch_curBadge_DIPRepr"><div class="curBadge curDIPRepr"><i class="fa-solid fa-bolt-lightning"></i> {{ T "B_Stud_Repr_DIP" }}</div></a>
    </div>
</div>