<div class="curator staffCurator">
  <img src="https://www.github.com/FeddyLix17.png" class="curPic">
  <p class="staffTitle"><b>Valerio Fontana</b><p>
  <div class="curSocials">
    <a href="https://github.com/FeddyLix17"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
    <a href="https://telegram.me/FeddyLix17"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
    <!--<a href="mailto:FeddyLix17@protonmail.com"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
  </div>
</div>
