<div class="curator staffCurator">
    <img src="https://www.github.com/matypist.png" class="curPic">
    <p class="staffTitle"><b>Matteo Collica</b><p>
    <div class="curSocials">
        <a href="https://github.com/matypist"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/Matypist"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <!--<a href="mailto:collica.2004949@studenti.uniroma1.it"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>-->
    </div>
</div>