<h2>Informatica <span style="font-size: 14px; font-weight: 300;">(29923)</span></h2>

<div class="subjsSingCourse">
    {{ $courses := .Site.Data.courses }}
    {{ range $code, $data := .Site.Data.timetables }}
        {{ $subject_info := index $courses $code }}
        {{ $channels := $data.channels }}
        {{ range $channel_id, $_ := $data.channels }}
            {{ if eq $data.degree "29923" }}
                <button
                    id="dialog-{{ $code }}-{{ $channel_id }}"
                    class="c-{{ $data.degree }} subjButton group mb-2 flex h-12 w-72 items-center bg-gray-50 px-4 py-1 text-black dark:bg-gray-900 dark:text-white"
                    onclick="event.stopPropagation(); toggleSubject(`{{ $code }}-{{ $channel_id }}`)"
                >
                    <span class="w-full truncate text-left">
                        [{{ $data.degree }}] {{ $subject_info.shortName }}
                        {{ if ne $channel_id "0" }}(Canale {{ $channel_id }}){{ end }}
                    </span>
                </button>
            {{ end }}
        {{ end }}
    {{ end }}
</div>

<div style="width: 99%; height: 1px; background-color: #ddd; margin: 20px auto 0 auto;"></div>

<h2>ACSAI <span style="font-size: 14px; font-weight: 300;">(30786)</span></h2>

<div class="subjsSingCourse">
    {{ $courses := .Site.Data.courses }}
    {{ range $code, $data := .Site.Data.timetables }}
        {{ $subject_info := index $courses $code }}
        {{ $channels := $data.channels }}
        {{ range $channel_id, $_ := $data.channels }}
            {{ if eq $data.degree "30786" }}
                <button
                    id="dialog-{{ $code }}-{{ $channel_id }}"
                    class="c-{{ $data.degree }} subjButton group mb-2 flex h-12 w-72 items-center bg-gray-50 px-4 py-1 text-black dark:bg-gray-900 dark:text-white"
                    onclick="event.stopPropagation(); toggleSubject(`{{ $code }}-{{ $channel_id }}`)"
                >
                    <span class="w-full truncate text-left">
                        [{{ $data.degree }}] {{ $subject_info.shortName }}
                        {{ if ne $channel_id "0" }}(Canale {{ $channel_id }}){{ end }}
                    </span>
                </button>
            {{ end }}
        {{ end }}
    {{ end }}
</div>

<div style="width: 99%; height: 1px; background-color: #ddd; margin: 20px auto 0 auto;"></div>

<h2>Computer Science <span style="font-size: 14px; font-weight: 300;">(29932)</span></h2>

<div class="subjsSingCourse">
    {{ $courses := .Site.Data.courses }}
    {{ range $code, $data := .Site.Data.timetables }}
        {{ $subject_info := index $courses $code }}
        {{ $channels := $data.channels }}
        {{ range $channel_id, $_ := $data.channels }}
            {{ if eq $data.degree "29932" }}
                <button
                    id="dialog-{{ $code }}-{{ $channel_id }}"
                    class="c-{{ $data.degree }} subjButton group mb-2 flex h-12 w-72 items-center bg-gray-50 px-4 py-1 text-black dark:bg-gray-900 dark:text-white"
                    onclick="event.stopPropagation(); toggleSubject(`{{ $code }}-{{ $channel_id }}`)"
                >
                    <span class="w-full truncate text-left">
                        [{{ $data.degree }}] {{ $subject_info.shortName }}
                        {{ if ne $channel_id "0" }}(Canale {{ $channel_id }}){{ end }}
                    </span>
                </button>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
