{{ $courses := .courses }}
{{ $defaultHidden := default false .defaultHidden }}

{{ $dataCourses := site.Data.courses }}
{{ $dataTimetables := site.Data.timetables }}
{{ $dataHardcodedTimetables := site.Data.hardcodedTimetables }}
{{ $dataTeachers := site.Data.teachers }}
{{ $dataClassrooms := site.Data.classrooms }}

<h2>{{ T "Subjs_TimetablesPerTeaching_Title" }}</h2>

{{ range $courses }}
    {{ $courseCodeWithUnit := . }}
    {{ $courseTimetables := index $dataTimetables $courseCodeWithUnit }}
    {{ $courseCode := index $courseTimetables "code" }}
    {{ $courseSubject := index $courseTimetables "subject" }}
    {{ $courseChannels := index $courseTimetables "channels" }}

    <div id="{{ $courseCodeWithUnit }}" class="{{ if $defaultHidden }}hidden{{ end }}">

        <h3>{{ $courseCode }} - {{ $courseSubject }}</h3>

        {{ $telegram_group := index $dataCourses $courseCodeWithUnit "tgGroup" }}
        {{ if $telegram_group }}
            ℹ️️ {{ T "Subjs_TimetablesPerTeaching_Telegram_JoinGroup" }} <a href="{{ $telegram_group }}">{{ T "Subjs_TimetablesPerTeaching_Telegram_TelegramGroup" }}</a> {{ T "Subjs_TimetablesPerTeaching_Telegram_StayUpdated" }}
            <br/>
        {{ end }}

        {{ range $channel_id, $channel := $courseChannels }}
            {{ $days := $channel }}

            {{ if and $courseCode (index $dataHardcodedTimetables $courseCode) }}
                {{ $hardcodedChannel := index $dataHardcodedTimetables $courseCode }}
                {{ if and $hardcodedChannel (index $hardcodedChannel "channels") (index $hardcodedChannel "channels" $channel_id) }}
                    {{ $days = index $hardcodedChannel "channels" $channel_id }}
                {{ end }}
            {{ end }}

            {{ if ne $channel_id "0" }}
            <div id="{{ $courseCodeWithUnit }}-{{ $channel_id }}" class="{{ if $defaultHidden }}hidden{{ end }}">
                <h4>Canale {{ $channel_id }}</h4>
            {{ else if $telegram_group }}
            <br/>
            {{ end }}

            {{ if and $courseCode (index $dataCourses $courseCode) }}
                {{ $alerts := index $dataCourses $courseCode "alerts" }}
                {{ if $alerts }}
                    {{ if index $alerts $channel_id }}
                        {{ range index $alerts $channel_id }}
                            {{ . }}
                            <br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}

            <table>
                <thead>
                    <tr>
                        <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Day" }}</th>
                        <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Time" }}</th>
                        <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Teacher" }}</th>
                        <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Classroom" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{ $dayOrder := slice "lunedì" "martedì" "mercoledì" "giovedì" "venerdì" "sabato" "domenica" }}
                    {{ $sortedDays := slice }}

                    {{ range $day := $dayOrder }}
                        {{ if index $days $day }}
                            {{ $sortedDays = $sortedDays | append $day }}
                        {{ end }}
                    {{ end }}

                    {{ range $day := $sortedDays }}
                        {{ $day_info := index $days $day }}
                        {{ range $info := $day_info }}
                            {{ $timeslot := $info.timeslot }}

                            <tr>
                                <td class="timetableTableCell">
                                    {{ if eq $day "lunedì" }}{{ T "DaysOfTheWeek_Monday" }}{{ end }}
                                    {{ if eq $day "martedì" }}{{ T "DaysOfTheWeek_Tuesday" }}{{ end }}
                                    {{ if eq $day "mercoledì" }}{{ T "DaysOfTheWeek_Wednesday" }}{{ end }}
                                    {{ if eq $day "giovedì" }}{{ T "DaysOfTheWeek_Thursday" }}{{ end }}
                                    {{ if eq $day "venerdì" }}{{ T "DaysOfTheWeek_Friday" }}{{ end }}
                                    {{ if eq $day "sabato" }}{{ T "DaysOfTheWeek_Saturday" }}{{ end }}
                                    {{ if eq $day "domenica" }}{{ T "DaysOfTheWeek_Sunday" }}{{ end }}
                                </td>
                                <td class="timetableTableCell">{{ $timeslot }}</td>
                                <td class="timetableTableCell">
                                    {{ $timeslotInDay := where $day_info "timeslot" "eq" $timeslot }}
                                    {{ $teacherId := index $timeslotInDay 0 "teacher" }}
                                    {{ $teacherName := index $dataTeachers $teacherId "name" }}

                                    <a href="https://gomppublic.uniroma1.it/Docenti/Render.aspx?UID={{ $teacherId }}">
                                        {{ $teacherName }}
                                    </a>
                                </td>
                                <td class="timetableTableCell">
                                    {{ range $classroom_id, $location := $info.classrooms }}
                                        {{ $mapsUrl := index $dataClassrooms $classroom_id "mapsUrl" }}

                                        {{ if $mapsUrl }}
                                            <a href="{{ $mapsUrl }}">{{ $location }}</a>
                                            <br/>
                                        {{ else }}
                                            {{ $location }}
                                            <br/>
                                        {{ end }}
                                    {{ end }}
                                </td>
                            </tr>
                        {{ end }}
                    {{ end }}
                </tbody>
            </table>
            {{ if ne $channel_id "0" }}
            </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}