{{ $pageChannel := .channel }}
{{ $courses := .courses }}
{{ $defaultHidden := default false .defaultHidden }}

{{ $dataCourses := site.Data.courses }}
{{ $dataTimetables := site.Data.timetables }}
{{ $dataHardcodedTimetables := site.Data.hardcodedTimetables }}
{{ $dataTeachers := site.Data.teachers }}
{{ $dataClassrooms := site.Data.classrooms }}

<h2>{{ T "Subjs_TimetablesPerTeaching_Title" }}</h2>

{{ range $courses }}
    {{ $courseCodeWithUnit := . }}

    {{ $courseTimetables := index $dataTimetables $courseCodeWithUnit }}
    {{ $courseHardcodedTimetables := index $dataHardcodedTimetables $courseCodeWithUnit }}

    {{ if or $courseTimetables $courseHardcodedTimetables }}
        {{ $timetableChannels := index $courseTimetables "channels" }}
        {{ $hardcodedTimetableChannels := index $courseHardcodedTimetables "channels" }}

        {{ $courseSubject := index $courseTimetables "subject" }}
        {{ $courseCode := index $courseTimetables "code" }}
        {{ $courseChannels := dict }}

        {{ if $timetableChannels }}
            {{ if $hardcodedTimetableChannels }}
                {{ $courseChannels = merge $timetableChannels $hardcodedTimetableChannels }}
            {{ else }}
                {{ $courseChannels = $timetableChannels }}
            {{ end }}
        {{ else }}
            {{ $courseSubject = index $courseHardcodedTimetables "subject" }}
            {{ $courseCode = index $courseHardcodedTimetables "code" }}

            {{ $courseChannels = $hardcodedTimetableChannels }}
        {{ end }}

        {{ if $courseCode }}
            <div id="{{ $courseCodeWithUnit }}" class="{{ if $defaultHidden }}hidden{{ end }}">

                <h3>{{ $courseCode }} - {{ $courseSubject }}</h3>

                {{ $telegram_group := index $dataCourses $courseCodeWithUnit "tgGroup" }}
                {{ if $telegram_group }}
                    {{ $courseSubjectPascalCase := $courseSubject | lower | title }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase "a'" "à" }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase "i'" "ì" }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase "o'" "ò" }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase "ù'" "ù" }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase " Delle " " delle " }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase " Di " " di " }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase " E " " e " }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase " Il " " il " }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase " Lo " " lo " }}
                    {{ $courseSubjectPascalCase = replace $courseSubjectPascalCase "L'" "l'" }}

                    ℹ️️ {{ T "Subjs_TimetablesPerTeaching_Telegram_JoinGroup" }} <a href="{{ $telegram_group }}">{{ T "Subjs_TimetablesPerTeaching_Telegram_TelegramGroup" }} {{$courseSubjectPascalCase}}</a> {{ T "Subjs_TimetablesPerTeaching_Telegram_StayUpdated" }}
                    <br/>
                {{ end }}

                {{ range $channel_id, $channel := $courseChannels }}
                    {{ $days := $channel }}

                    {{ if (and ($pageChannel) (ne (string $pageChannel) (string $channel_id))) }}
                        {{ continue }}
                    {{ end }}

                    {{ if ne $channel_id "0" }}
                    <div id="{{ $courseCodeWithUnit }}-{{ $channel_id }}" class="{{ if $defaultHidden }}hidden{{ end }}">
                        {{ $channelTitles := dict "1" "Canale A-L (1)" "2" "Canale M-Z (2)" }}

                        {{ if ne $channel_id "0" }}
                            {{ $title := index $channelTitles $channel_id }}
                            {{ if $title }}
                                <h4>{{ $title }}</h4>
                            {{ else }}
                                <h4>Canale {{ $channel_id }}</h4>
                            {{ end }}
                        {{ end }}
                    {{ else if $telegram_group }}
                    <br/>
                    {{ end }}

                    {{ if and $courseCodeWithUnit (index $dataCourses $courseCodeWithUnit) }}
                        {{ $alerts := index $dataCourses $courseCodeWithUnit "alerts" }}
                        {{ if $alerts }}
                            {{ if index $alerts $channel_id }}
                                {{ range $day, $dayAlerts := index $alerts $channel_id }}
                                    {{ range $dayAlerts }}
                                        {{ . }}
                                        <br>
                                    {{ end }}
                                    <br>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{ if $days }}
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Day" }}</th>
                                    <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Time" }}</th>
                                    <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Teacher" }}</th>
                                    <th scope="col" class="timetableTableCell">{{ T "Subjs_TimetablesPerTeaching_Classroom" }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ $dayOrder := slice "lunedì" "martedì" "mercoledì" "giovedì" "venerdì" "sabato" "domenica" }}
                                {{ $sortedDays := slice }}

                                {{ range $day := $dayOrder }}
                                    {{ if index $days $day }}
                                        {{ $sortedDays = $sortedDays | append $day }}
                                    {{ end }}
                                {{ end }}

                                {{ range $day := $sortedDays }}
                                    {{ $day_info := index $days $day }}
                                    {{ range $info := $day_info }}
                                        {{ $timeslot := $info.timeslot }}

                                        <tr>
                                            <td class="timetableTableCell">
                                                {{ if eq $day "lunedì" }}{{ T "DaysOfTheWeek_Monday" }}{{ end }}
                                                {{ if eq $day "martedì" }}{{ T "DaysOfTheWeek_Tuesday" }}{{ end }}
                                                {{ if eq $day "mercoledì" }}{{ T "DaysOfTheWeek_Wednesday" }}{{ end }}
                                                {{ if eq $day "giovedì" }}{{ T "DaysOfTheWeek_Thursday" }}{{ end }}
                                                {{ if eq $day "venerdì" }}{{ T "DaysOfTheWeek_Friday" }}{{ end }}
                                                {{ if eq $day "sabato" }}{{ T "DaysOfTheWeek_Saturday" }}{{ end }}
                                                {{ if eq $day "domenica" }}{{ T "DaysOfTheWeek_Sunday" }}{{ end }}
                                            </td>
                                            <td class="timetableTableCell">{{ $timeslot }}</td>
                                            <td class="timetableTableCell">
                                                {{ $timeslotInDay := where $day_info "timeslot" "eq" $timeslot }}

                                                {{ $teachers := index $timeslotInDay 0 "teachers" }}
                                                {{ $teacherLinks := slice }}

                                                {{ range $teacherId, $teacherName := $teachers }}
                                                    {{ $formattedName := $teacherName | lower | title }}
                                                    {{ $teacherUrl := printf "https://gomppublic.uniroma1.it/Docenti/Render.aspx?UID=%s" $teacherId }}
                                                    {{ $teacherLinks = $teacherLinks | append (printf "<a href='%s'>%s</a>" $teacherUrl $formattedName) }}
                                                {{ end }}

                                                {{ if $teacherLinks }}
                                                    {{ delimit $teacherLinks "<br>" | safeHTML }}
                                                {{ else if $info.teacherInfo }}
                                                    {{ $formattedInfo := $info.teacherInfo | lower | title }}
                                                    {{ if $info.teacherUrl }}
                                                        <a href="{{ $info.teacherUrl }}">{{ $formattedInfo }}</a>
                                                    {{ else }}
                                                        {{ $formattedInfo }}
                                                    {{ end }}
                                                {{ else }}
                                                    N/A
                                                {{ end }}
                                            </td>
                                            <td class="timetableTableCell">
                                                {{ $replacements := dict
                                                    "Aula informatica" "Aula inf."
                                                    "(Edificio: CU002)" "Sc. Stat. (Edificio: CU002)"
                                                    "(Edificio: CU007)" "Tumminelli (Edificio: CU007)"
                                                    "(Edificio: CU028)" "Aule Blu (Edificio: CU028)"
                                                    "(Edificio: CU033)" "Fisica (Edificio: CU033)"
                                                    "(Edificio: RM005)" "Via Antonio Scarpa, 12"
                                                    "(Edificio: RM018)" "Castro Laurenziano, 7a"
                                                    "(Edificio: RM021)" "Marco Polo (Scalo S. Lorenzo, 82)"
                                                    "(Edificio: RM025)" "(Tiburtina, 205)"
                                                    "(Edificio: RM062)" "Via Salaria, 113/117"
                                                    "(Edificio: RM102)" "Via Ariosto, 25"
                                                    "(Edificio: RM103)" "Via dei Volsci, 122"
                                                    "(Edificio: RM111)" "Regina Elena Ed. C"
                                                    "(Edificio: RM112)" "Regina Elena Ed. D"
                                                    "(Edificio: RM113)" "Regina Elena Ed. E"
                                                    "(Edificio: RM115)" "Regina Elena Ed. G"
                                                    "(Edificio: RM158)" "De Lollis (Tiburtina, 205)"
                                                }}

                                                {{ if $info.classrooms }}
                                                    {{ range $classroom_id, $location := $info.classrooms }}
                                                        {{ range $old, $new := $replacements }}
                                                            {{ $location = replace $location $old $new }}
                                                        {{ end }}

                                                        {{ if (strings.Contains $location "AREA DI CANTIERE") }}
                                                            {{ $location = T "Subjs_TimetablesPerTeaching_ConstructionSite" }}
                                                        {{ end }}

                                                        {{ $mapsUrl := index $dataClassrooms $classroom_id "mapsUrl" }}

                                                        {{ if $mapsUrl }}
                                                            <a href="{{ $mapsUrl }}" target="_blank">{{ $location }}</a>
                                                            <br/>
                                                        {{ else if (findRE "CU0[0-9]{2}" $location) }}
                                                            <a href="https://www.uniroma1.it/sites/default/files/PIANTA_LEGENDA_DEF_AGG_040414_1.pdf" target="_blank">{{ $location }}</a><br/>
                                                        {{ else }}
                                                            {{ $location }}
                                                            <br/>
                                                        {{ end }}
                                                    {{ end }}
                                                {{ else }}
                                                    {{ $classroomInfo := replace $info.classroomInfo "\\" "" }}
                                                    {{ $classroomUrl := $info.classroomUrl }}

                                                    {{ range $old, $new := $replacements }}
                                                        {{ $classroomInfo = replace $classroomInfo $old $new }}
                                                    {{ end }}

                                                    {{ if (strings.Contains $classroomInfo "TBA") }}
                                                        {{ $classroomInfo = T "Subjs_TimetablesPerTeaching_TBA" }}
                                                    {{ end }}

                                                    {{ if $classroomUrl }}
                                                        <a href="{{ $classroomUrl }}">{{ $classroomInfo }}</a>
                                                    {{ else if (findRE "CU0[0-9]{2}" $classroomInfo) }}
                                                        <a href="https://www.uniroma1.it/sites/default/files/PIANTA_LEGENDA_DEF_AGG_040414_1.pdf">{{ $classroomInfo }}</a>
                                                    {{ else }}
                                                        {{ $classroomInfo }}
                                                    {{ end }}
                                                {{ end }}
                                            </td>
                                        </tr>
                                    {{ end }}
                                {{ end }}
                            </tbody>
                        </table>
                    {{ else }}
                        {{ $alerts := index $dataCourses $courseCodeWithUnit "alerts" }}
                        {{ if or (not $alerts) (not (index $alerts $channel_id)) }}
                            {{ T "Subjs_TimetablesPerTeaching_NoTimetable" }}
                        {{ end }}
                    {{ end }}

                    {{ if ne $channel_id "0" }}
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}