{{ define "main" }}
<article class="markdown book-article"><h1 id="-project-curators">
    {{ T "Contacts_Title" }}

    <a class="anchor" href="#-project-curators">#</a>
</h1>
    <div class="curatorList">
        {{ partial "contributors/matypist" . }}

        {{ partial "contributors/Lorenzoantonelli" . }}

        {{ partial "contributors/ElBi21" . }}
    </div>
    <h2 id="what-do-the-badges-mean">
        {{ T "Contacts_BadgeMeaning" }}
        <a class="anchor" href="#what-do-the-badges-mean">#</a>
    </h2>
    <table>
        <tr>
            <td align="center"><div class="curBadge curCourse" id="anch_curBadge_Course"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> {{ T "B_Course" }}</div></td>
            <td>{{ T "B_Course_Desc" }}</td>
        </tr>
        <tr>
            <td align="center"><div class="curBadge curSSN" id="anch_curBadge_SSN"><i class="fa-brands fa-github" style="color: #feffff;"></i> {{ T "B_SSN" }}</div></td>
            <td>{{ T "B_SSN_Desc" }}</td>
        </tr>
        <tr>
            <td align="center"><div class="curBadge curContCur" id="anch_curBadge_ContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> {{ T "B_Cont_Cur" }}</div></td>
            <td>{{ T "B_Cont_Cur_Desc" }}</td>
        </tr>
        <tr>
            <td align="center"><div class="curBadge curCodeDev" id="anch_curBadge_CodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> {{ T "B_Code_Dev" }}</div></td>
            <td>{{ T "B_Code_Dev_Desc"}}</td>
        </tr>
        <tr>
            <td align="center"><div class="curBadge curDIRepr" id="anch_curBadge_DIRepr"><i class="fa-solid fa-bolt" style="color: #feffff;"></i> {{ T "B_Stud_DIRepr" }}</div></td>
            <td>{{ T "B_Stud_DIRepr_Desc" }}</td>
        </tr>
    </table>
</article>
{{ end }}
