<div class="curator cyberSecCurator">
    <img src="https://www.github.com/Eleonora99.png" class="curPic">
    <p class="curTitle"><b>Eleonora Fornaro</b><p>
    <div class="curSocials">
        <a href="https://github.com/Eleonora99"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/geek_ellie"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <a href="mailto:fornaro.1836820@studenti.uniroma1.it"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="#anch_curBadge_CyberSecRepr"><div class="curBadge curCyberSecRepr"><i class="fa-solid fa-bolt-lightning"></i> {{ T "B_CyberSecRepr" }}</div></a>
    </div>
</div>