<div class="curator">
    <img src="https://www.github.com/matypist.png" class="curPic">
    <p class="curTitle"><b>Matteo Collica</b><p>
    <div class="curSocials">
        <a href="https://github.com/matypist"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/Matypist"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <a href="mailto:collica.2004949@studenti.uniroma1.it"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Informatica</div></a>
        <a href="#anch_curBadge_SSN"><div class="curBadge curSSN"><i class="fa-brands fa-github"></i> {{ T "B_SSN" }}</div></a>
        <a href="#anch_curBadge_DIRepr"><div class="curBadge curDIRepr"><i class="fa-solid fa-bolt" style="color: #feffff;"></i> {{ T "B_Stud_DIRepr" }}</div></a>
        <a href="#anch_curBadge_ContCur"><div class="curBadge curContCur"><i class="fa-solid fa-scroll" style="color: #feffff;"></i> {{ T "B_Cont_Cur" }}</div></a>
        <a href="#anch_curBadge_CodeDev"><div class="curBadge curCodeDev"><i class="fa-solid fa-code" style="color: #feffff;"></i> {{ T "B_Code_Dev" }}</div></a>
    </div>
</div>