<div class="curator cyberSecCurator">
    <img src="https://www.github.com/matypist.png" class="curPic">
    <p class="curTitle"><b>Matteo Collica</b><p>
    <div class="curSocials">
        <a href="https://github.com/matypist"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/Matypist"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <a href="mailto:collica.2004949@studenti.uniroma1.it"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="#anch_curBadge_DIRepr"><div class="curBadge curDIRepr"><i class="fa-solid fa-bolt" style="color: #feffff;"></i> {{ T "B_Stud_DIRepr" }}</div></a>
    </div>
</div>