<div class="curator">
    <img src="https://www.github.com/sapienzastudentsnetwork.png" class="curPic">
    <p class="curTitle"><b>sapienzastudents.net</b><p>
    <div class="curSocials">
        <a href="https://github.com/sapienzastudentsnetwork"><i class="fa-brands fa-github curSocialIcon fa-2xl"></i></a>
        <a href="https://telegram.me/SapienzaStudentsNetwork"><i class="fa-brands fa-telegram curSocialIcon fa-2xl"></i></a>
        <a href="mailto:sapienzastudentsnetwork@gmail.com"><i class="fa-solid fa-envelope curSocialIcon fa-2xl"></i></a>
    </div>
    <div class="curSeparator"></div>
    <div class="curBadges">
        <a href="#anch_curBadge_Course"><div class="curBadge curCourse"><i class="fa-solid fa-graduation-cap" style="color: #feffff;"></i> Informatica</div></a>
    </div>
</div>