---
layout: default
---

<!-- TODO: find a better way to do this -->
{% assign subjects = site.data.subjects %}
{% assign subjects-acsai = site.data.subjects-acsai %}
<!-- {% assign first_year_af = "101226-1, 1015883-1, 1020420-1, 1015880-1" | split: ", " %} -->
<!-- {% assign first_year_gz = "" | split: ", " %} -->
<!-- {% assign first_year_acsai = "" | split: ", " %} -->
<!-- {% assign second_year_al = "1015886-1, 1015887-1, 1020421-1, 1020422-1" | split: ", " %} -->
<!-- {% assign second_year_mz = "" | split: ", " %} -->
<!-- {% assign second_year_acsai = "" | split: ", " %} -->
<!-- {% assign third_year = "" | split: ", " %} -->
<!-- {% assign third_year_acsai = "" | split: ", " %} -->

<script>
    let subjects = JSON.parse(`{{ subjects | jsonify }}`);
</script>
<script src="{{ '/assets/js/schedule.js?v=' | append: site.github.build_revision | relative_url }}"></script>

<div class="relative" id="main">
    <!-- TODO: customizzare il pulsante con lo stile https://m3.material.io/components/all-buttons -->
    <button class="absolute top-2 right-0 flex items-center gap-2" onclick="openSubjectsDialog()">
        Materie
        <span class="material-symbols-outlined">
            add
        </span>
    </button>

    {{ content }}

    <div id="{{ info.title | slugify }}" class="channel-{{ channel_id }}">
        <h2> {{ info.title }} </h2>

        <table class="hidden sm:table desktop">
            <thead>
                <tr>
                    <th scope="col" class='font-light'>Orario</th>
                    <th scope="col">Lunedì</th>
                    <th scope="col">Martedì</th>
                    <th scope="col">Mercoledì</th>
                    <th scope="col">Giovedì</th>
                    <th scope="col">Venerdì</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table class="table sm:hidden mobile">
            <thead>
                <tr>
                    <th scope="col" class='font-light'>Orario</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">M</th>
                    <th scope="col">G</th>
                    <th scope="col">V</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- TODO: rendere il contenuto del dialog scrollable! -->
<!-- TODO: customizzare un po' il dialog! -->
<dialog
    class="h-full ml-0 p-4 items-center rounded-r-3xl shadow-xl dark:shadow-2xl dark:shadow-black backdrop:backdrop-blur-sm dark:bg-black dark:text-white"
    id="subjects" onclick="closeSubjectsDialog()">
    <div class="flex flex-col justify-between items-center h-full">
        <div>
            <button class="material-symbols-outlined rounded-full p-2 m-2 hover:bg-gray-100 cursor-pointer"
                on:click="closeSubjectsDialog()">
                menu_open
            </button>

            <!-- TODO: prendere spunto da _includes/sidebar.html per capire come riempire l'elenco? -->
                <div>
                {% for subject in subjects %}

                <!-- In case of selected subject -->
                <!-- {% assign label = "font-bold text-black dark:text-white" %} -->
                {% assign code = subject[0] %}
                {% assign info = subject[1] %}

                <button class="group w-min mb-3 mx-1 flex flex-col items-center" id="{{ code }}">
                    {{ info.shortName }}
                </button>

                {% enfor %}
            </div>
        </div>
    </div>
</dialog>

<script>
    const selectedSubjects = localStorage['selectedSubjects']

    function openSubjectsDialog() {
        document.getElementById('subjects').showModal();
    }

    function closeSubjectsDialog() {
        document.getElementById('subjects').close();
    }
</script>
