---
layout: default
---


<div class="relative" id="main">
    <!-- TODO: customizzare il pulsante con lo stile https://m3.material.io/components/all-buttons -->
    <button class="absolute top-2 right-0 flex items-center gap-2" onclick="openSubjectsDialog()">
        Materie
        <span class="material-symbols-outlined">
            add
        </span>
    </button>

    {{ content }}

    <div id="">
        <table class="hidden sm:table desktop">
            <thead>
                <tr>
                    <th scope="col" class='font-light'>Orario</th>
                    <th scope="col">Lunedì</th>
                    <th scope="col">Martedì</th>
                    <th scope="col">Mercoledì</th>
                    <th scope="col">Giovedì</th>
                    <th scope="col">Venerdì</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table class="table sm:hidden mobile">
            <thead>
                <tr>
                    <th scope="col" class='font-light'>Orario</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">M</th>
                    <th scope="col">G</th>
                    <th scope="col">V</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- TODO: rendere il contenuto del dialog scrollable! -->
<!-- TODO: customizzare un po' il dialog! -->
<dialog
    class="h-full ml-0 p-4 items-center rounded-r-3xl shadow-xl dark:shadow-2xl dark:shadow-black backdrop:backdrop-blur-sm dark:bg-black dark:text-white"
    id="subjects" onclick="closeSubjectsDialog()">
    <div class="w-full h-full flex flex-col items-start">
        <button class="material-symbols-outlined rounded-full p-2 m-2 hover:bg-gray-100 cursor-pointer"
            onclick="closeSubjectsDialog()">
            menu_open
        </button>

        <div id="subjects" class="w-full h-full mb-4 pr-4 overflow-y-scroll">
            {% assign suffixes = ", -acsai" | split: ", " %}

            {% for suffix in suffixes %}

            {% assign subjects_key = "subjects" | append: suffix %}
            {% assign schedules_key = "schedules" | append: suffix %}

            {% assign subjects = site.data[subjects_key] %}
            {% assign schedules = site.data[schedules_key] %}

            {% for subject in schedules %}

            {% assign code = subject[0] %}
            {% assign channels = subject[1] %}

            {% for channel in channels %}
            {% assign channel_id = channel[0] %}
            {% assign schedule = channel[1] %}

            {% assign subject_info = subjects[code] %}

            <button id="{{ code }}-{{ channel_id }}"
                class="group w-72 h-12 py-1 px-4 flex bg-gray-50 text-black dark:bg-gray-900 dark:text-white mb-2 items-center rounded-full truncate"
                onclick="event.stopPropagation(); toggleSubject(`{{ code }}-{{ channel_id }}`)">
                {{ subject_info.shortName }}
                {% if channel_id != "0" %}
                Canale {{ channel_id }}
                {% endif %}
            </button>

            {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>

    </div>
</dialog>

<script>
    const selectedSubjects = new Set(JSON.parse(localStorage.getItem('selectedSubjects')));


    function toggleSubject(subjectId) {
        if (selectedSubjects.has(subjectId)) {
            let button = document.getElementById(subjectId);
            button.classList.remove('bg-black', 'text-white', 'dark:bg-white', 'dark:text-black');
            button.classList.add('bg-gray-50', 'dark:bg-gray-900', 'dark:text-white');
            selectedSubjects.delete(subjectId);
        } else {
            let button = document.getElementById(subjectId);
            button.classList.remove('bg-gray-50', 'dark:bg-gray-900', 'dark:text-white');
            button.classList.add('bg-black', 'text-white', 'dark:bg-white', 'dark:text-black');
            selectedSubjects.add(subjectId);
        }
        localStorage.setItem('selectedSubjects', JSON.stringify(Array.from(selectedSubjects)));
    }

    addEventListener("DOMContentLoaded", () => {
        // const subjectsDiv = document.querySelectorAll('subjects > button');
        // subjectsDiv.forEach((node) => node.addEventListener('click', (event) => event.stopPropagation()));
        // subjectsDiv.addEventListener('click', (event) => event.stopPropagation());

        for (const subjectId of selectedSubjects) {
            const button = document.getElementById(subjectId);
            button.classList.remove('bg-gray-50', 'dark:bg-gray-900', 'dark:text-white');
            button.classList.add('bg-black', 'text-white', 'dark:bg-white', 'dark:text-black');
        }
    });


    function openSubjectsDialog() {
        document.getElementById('subjects').showModal();
    }

    function closeSubjectsDialog() {
        document.getElementById('subjects').close();
    }
</script>
