<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="icon" href="./favicon.png" />

    <link rel="stylesheet" href="{{ '/assets/css/app.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
        href="{{ '/assets/css/tailwind.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
        href="{{ '/assets/css/gruvbox.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap" rel="stylesheet">

    {% include head-custom.html %}
</head>

<body class="h-screen flex flex-col md:flex-row">
    {% include sidebar.html %}

    <div id="content"
        class="grow bg-gray-50 dark:bg-gray-900 overflow-y-auto overflow-x-hidden min-w-0 md:h-auto max-h-full w-full flex">
        <div class="p-5 md:p-10 pt-5 md:pt-10 prose dark:prose-invert grow-1 w-full max-w-full">
            {{ content }}
            <br />
        </div>

        {% if page.url!='/' %}
        <div id='onThisPage'
            class="hidden lg:block sticky top-0 p-10 whitespace-nowrap border-l border-l-gray-400 w-96 max-w-[384px] min-w-[384px] box-border">
            <div class="text-gray-700 dark:text-gray-200 text-xl font-bold">
                Su questa pagina
            </div>
        </div>
        {% endif %}
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>

</html>

{% if page.url != '/' %}
<script>
    function generateOnThisPage() {
        for (const title of document.querySelectorAll('h2, h3, h4')) {
            const titleId = title.getAttribute('id');

            document.getElementById('onThisPage').innerHTML +=
                `<a href="#${titleId}" id="link-${titleId}" class="text-sm text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 on-this-page ${title.tagName} no-wrap">${title.innerText}</a><br>`;
        }
    }

    function highlightOnThisPageTitle() {
        hash = window.location.hash;

        if (hash === '') return;

        document
            .querySelectorAll('.highlighted')
            .forEach(element => element.classList.remove('highlighted'));

        // TODO highlight parent too
        document.querySelector(`#link-${hash.substring(1)}`).classList.add('highlighted');
    }

    document.addEventListener('DOMContentLoaded', () => {
        generateOnThisPage();
        highlightOnThisPageTitle();
        window.addEventListener('hashchange', highlightOnThisPageTitle);
    })
</script>
{% endif %}
