---
layout: default
---

<div class="relative">
    <button class="absolute top-2 right-0 flex items-center gap-2" onclick="changeChannel()">
        <span class="material-symbols-outlined">
            sort_by_alpha
        </span>
        Canale:
        <span id="channel" class="font-bold text-black dark:text-white">
        </span>
    </button>

    {{ content }}

    <h2 id="first-year">Primo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='firstYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='firstYearMobile'>
        </tbody>
    </table>

    <h2 id="second-year">Secondo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='secondYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='secondYearMobile'>
        </tbody>
    </table>

    <h2 id="third-year">Terzo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='thirdYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='thirdYearMobile'>
        </tbody>
    </table>
</div>

<script>
    let subjects = `
        {{ page.subjects }}
    `
    subjects = JSON.parse(subjects.replaceAll('=>', ':'))

    function generateTableFromSchedule(tableBodyId, schedule) {
        // Temp solution till schedule comes out
        // return;

        const COLORS = ['red', 'yellow', 'green', 'blue', 'purple', 'cyan', 'fuchsia']
        document.getElementById(tableBodyId).innerHTML = '';

        let classesStartTime = undefined,
            classesEndTime = undefined;

        for (let [_, events] of Object.entries(schedule))
            for (const {startTime, endTime} of events) {
                classesStartTime = Math.min(classesStartTime, startTime) || startTime;
                classesEndTime = Math.max(classesEndTime, endTime) || endTime;
            }

        let subjectsColors = {},
            nextColorIndex = 0;

        for (let time = classesStartTime; time < classesEndTime; time++) {
            let tableRow = document.createElement('tr'),
                timeCell = document.createElement('td');

            timeCell.classList.add('font-light', 'italic');
            timeCell.innerHTML = `${time}:00`;
            tableRow.append(timeCell);

            for (const day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']) {
                let tableCell = document.createElement('td'),
                    courses = schedule[day].filter(c => c.startTime <= time && c.endTime > time);

                for (let course of courses) {
                    if (tableBodyId.includes('Mobile'))
                        tableCell.innerHTML +=
                            subjects[course.subject] ?
                                subjects[course.subject].abbr :
                                course.subject.substring(0, 2).toUpperCase();
                    else if (tableBodyId == 'thirdYear')
                        tableCell.innerHTML += course.subject;
                    else
                        tableCell.innerHTML += course.subject.split(' ')[0];

                    if (!subjectsColors[course.subject])
                        subjectsColors[course.subject] = COLORS[nextColorIndex++ % COLORS.length];

                    tableCell.classList.add(subjectsColors[course.subject], 'font-bold');
                }

                tableRow.append(tableCell);
            }

            document.getElementById(tableBodyId).append(tableRow);
        }
    }

    let channel = localStorage.getItem('channel') || '1';
    let firstYear1 = `
        {{ page.first-year-al }}
    `
    let firstYear2 = `
        {{ page.first-year-mz }}
    `
    let secondYear1 = `
        {{ page.second-year-al }}
    `
    let secondYear2 = `
        {{ page.second-year-mz }}
    `
    let thirdYear = `
        {{ page.third-year }}
    `

    firstYear1 = JSON.parse(firstYear1.replaceAll('=>', ':'))
    // firstYear2 = JSON.parse(firstYear2.replaceAll('=>', ':'))
    // secondYear1 = JSON.parse(secondYear1.replaceAll('=>', ':'))
    secondYear2 = JSON.parse(secondYear2.replaceAll('=>', ':'))
    thirdYear = JSON.parse(thirdYear.replaceAll('=>', ':'))

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("channel").innerHTML = channel;
        updateTitles(channel)
        generateTableFromSchedule('firstYear', channel == '1' ? firstYear1 : firstYear2);
        generateTableFromSchedule('firstYearMobile', channel == '1' ? firstYear1 : firstYear2);
        generateTableFromSchedule('secondYear', channel == '1' ? secondYear1 : secondYear2);
        generateTableFromSchedule('secondYearMobile', channel == '1' ? secondYear1 : secondYear2);
        generateTableFromSchedule('thirdYear', thirdYear);
        generateTableFromSchedule('thirdYearMobile', thirdYear);
    });

    function updateTitles(channel) {
        document.getElementById("first-year").innerHTML = "Primo Anno " + (channel == "1" ? "A-F" : "G-Z");
        document.getElementById("second-year").innerHTML = "Secondo Anno " + (channel == "1" ? "A-L" : "M-Z");
    }
    
    function changeChannel() {
        channel = channel == '1' ? 'M-Z' : 'A/L';
        if (channel == '1') {
            generateTableFromSchedule('firstYear', firstYear1);
            generateTableFromSchedule('firstYearMobile', firstYear1);
            generateTableFromSchedule('secondYear', secondYear1);
            generateTableFromSchedule('secondYearMobile', secondYear1);
        } else {
            generateTableFromSchedule('firstYear', firstYear2);
            generateTableFromSchedule('firstYearMobile', firstYear2);
            generateTableFromSchedule('secondYear', secondYear2);
            generateTableFromSchedule('secondYearMobile', secondYear2);
        }

        updateTitles(channel)
        localStorage.setItem('channel', channel);
        document.getElementById('channel').innerHTML = channel;
    }
</script>
