---
layout: default
---

<div class="relative" id="main_div">
    <button class="absolute top-2 right-0 flex items-center gap-2" onclick="changeChannel()">
        <span class="material-symbols-outlined">
            sort_by_alpha
        </span>
        Canale:
        <span id="channel" class="font-bold text-black dark:text-white">
        </span>
    </button>

    {{ content }}

    <h2 id="first-year">Primo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='firstYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='firstYearMobile'>
        </tbody>
    </table>

    <h2 id="second-year">Secondo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='secondYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='secondYearMobile'>
        </tbody>
    </table>

    <h2 id="third-year">Terzo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='thirdYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='thirdYearMobile'>
        </tbody>
    </table>

    <h2>Orari per insegnamento</h2>
</div>

<script>
    let teachings = `
        {{ page.teachings }}
    `
    teachings = JSON.parse(teachings.replaceAll('=>', ':').replaceAll('nil', 'null'))

    let schedules = `
        {{ page.schedules }}
    `
    schedules = JSON.parse(schedules.replaceAll('=>', ':').replaceAll('nil', 'null'))

    let classrooms = `
        {{ page.classrooms }}
    `
    classrooms = JSON.parse(classrooms.replaceAll('=>', ':').replaceAll('nil', 'null'))

    function generateTableFromSchedule(tableBodyId, schedule) {
        const COLORS = ['red', 'yellow', 'green', 'blue', 'purple', 'orange', 'emerald', 'cyan', 'fuchsia', 'teal']
        document.getElementById(tableBodyId).innerHTML = '';

        let classesStartTime = undefined,
            classesEndTime = undefined;

        for (let [_, events] of Object.entries(schedule))
            for (const {startTime, endTime} of events) {
                classesStartTime = Math.min(classesStartTime, startTime) || startTime;
                classesEndTime = Math.max(classesEndTime, endTime) || endTime;
            }

        let teachingsColors = {},
            nextColorIndex = 0;

        for (let time = classesStartTime; time < classesEndTime; time++) {
            let tableRow = document.createElement('tr'),
                timeCell = document.createElement('td');

            timeCell.classList.add('font-light', 'italic');
            timeCell.innerHTML = `${time} - ${time + 1}`;
            tableRow.append(timeCell);

            for (const day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']) {
                let tableCell = document.createElement('td'),
                    courses = schedule[day].filter(c => c.startTime <= time && c.endTime > time);

                for (let course of courses) {
                    courseLink = document.createElement('a');
                    courseLink.href = "#" + course.teachingCode

                    if (tableBodyId.includes('Mobile'))
                        courseLink.textContent =
                            teachings[course.teachingCode] ?
                                (
                                    teachings[course.teachingCode].abbr ?
                                        teachings[course.teachingCode].abbr :
                                        teachings[course.teachingCode].name.substring(0, 2).toUpperCase()
                                )
                                :
                                course.teachingCode;
                    else
                        courseLink.textContent =
                            teachings[course.teachingCode] ?
                                (
                                    teachings[course.teachingCode].shortName ?
                                        teachings[course.teachingCode].shortName :
                                        teachings[course.teachingCode].name
                                )
                                :
                                course.teachingCode;

                    tableCell.appendChild(courseLink)

                    if (!teachingsColors[course.teachingCode])
                        teachingsColors[course.teachingCode] = COLORS[nextColorIndex++ % COLORS.length];

                    courseLink.classList.add(teachingsColors[course.teachingCode], 'font-bold');
                }

                tableRow.append(tableCell);
            }

            document.getElementById(tableBodyId).append(tableRow);
        }
    }

    function createTeachingSchedulesTable(teachingCode, teachingChannel) {
        var table = document.createElement('table');
        table.classList.add('table');

        var thead = document.createElement('thead');
        var tr = document.createElement('tr');

        var th1 = document.createElement('th');
        th1.setAttribute('scope', 'col');
        th1.textContent = 'Giorno';

        var th2 = document.createElement('th');
        th2.setAttribute('scope', 'col');
        th2.textContent = 'Docente';

        var th3 = document.createElement('th');
        th3.setAttribute('scope', 'col');
        th3.textContent = 'Orario';

        var th4 = document.createElement('th');
        th4.setAttribute('scope', 'col');
        th4.textContent = 'Aula';

        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);
        tr.appendChild(th4);
        thead.appendChild(tr);

        var tbody = document.createElement('tbody');
        tbody.setAttribute('id', teachingCode + "-" + teachingChannel + "-table");

        table.appendChild(thead);
        table.appendChild(tbody);

        return table;
    }

    function translateDayName(dayInEnglish) {
        const translations = {
            monday: 'Lunedì',
            tuesday: 'Martedì',
            wednesday: 'Mercoledì',
            thursday: 'Giovedì',
            friday: 'Venerdì',
            saturday: 'Sabato',
            sunday: 'Domenica'
        };

        return translations[dayInEnglish] || "Invalid day name";
    }

    function addRowToTeachingSchedulesTable(table, dayName, teacherName, teacherPageUrl, hours, classroomDesc, classroomMapsUrl) {
        var tbody = table.tBodies[0];

        var row = document.createElement('tr');

        var dayCell = document.createElement('td');
        dayCell.textContent = translateDayName(dayName);
        row.appendChild(dayCell);

        var teacherCell = document.createElement('td');
        var teacherLink = document.createElement('a');
        teacherLink.textContent = teacherName;
        teacherLink.href = teacherPageUrl;
        teacherCell.appendChild(teacherLink);
        row.appendChild(teacherCell);

        var hoursCell = document.createElement('td');
        hoursCell.textContent = hours;
        row.appendChild(hoursCell);

        var classroomCell = document.createElement('td');
        classroomCell.textContent = classroomDesc + " ";

        if (classroomMapsUrl) {
            var classroomMapsLink = document.createElement('a');
            classroomMapsLink.textContent = "[mappa]";
            classroomMapsLink.href = classroomMapsUrl;
            classroomCell.appendChild(classroomMapsLink);
        }
        row.appendChild(classroomCell);

        tbody.appendChild(row);
    }

    function addTeachingSchedules(teachingCode) {
        const mainDiv = document.getElementById('main_div');

        const teachingData = teachings[teachingCode];
        const teachingChannels = Object.entries(schedules[teachingCode]).sort(([key1], [key2]) => Number(key1) - Number(key2));

        const h3Element = document.createElement("h3");
        h3Element.id = teachingCode;
        h3Element.textContent = teachingCode;

        if (teachingData.name) {
            h3Element.textContent += " - " + teachingData.name;
        }

        mainDiv.appendChild(h3Element);

        for (let [teachingChannel, teachingChannelSchedules] of teachingChannels) {
            const h4Element = document.createElement("h4");
            h4Element.id = teachingCode + "-" + teachingChannel;

            h4Element.textContent = "Canale " + (teachingChannel === "1" || teachingChannel === "2" ? teachingChannel : "Unico");

            mainDiv.appendChild(h4Element);

            let teachingSchedulesTable = createTeachingSchedulesTable(teachingCode);

            mainDiv.appendChild(teachingSchedulesTable);

            for (let [englishDayName, schedule] of Object.entries(teachingChannelSchedules)) {
                classroomMapsUrl = classrooms[schedule.classroomId] ? classrooms[schedule.classroomId].mapsUrl : null;

                addRowToTeachingSchedulesTable(teachingSchedulesTable, englishDayName, schedule.teacherName, schedule.teacherPageUrl, schedule.hours, schedule.location, classroomMapsUrl)
            }
        }
    }

    let channel = localStorage.getItem('channel') || '1';
    
    if (channel === "A/L" || channel === "M/Z") {
        channel = channel === "A/L" ? '1' : '2';
        localStorage.setItem('channel', channel);
    }

    let firstYear1 = `
        {{ page.first-year-1 }}
    `
    let firstYear2 = `
        {{ page.first-year-2 }}
    `
    let secondYear1 = `
        {{ page.second-year-1 }}
    `
    let secondYear2 = `
        {{ page.second-year-2 }}
    `
    let thirdYear = `
        {{ page.third-year }}
    `

    firstYear1 = JSON.parse(firstYear1.replaceAll('=>', ':'))
    firstYear2 = JSON.parse(firstYear2.replaceAll('=>', ':'))
    secondYear1 = JSON.parse(secondYear1.replaceAll('=>', ':'))
    secondYear2 = JSON.parse(secondYear2.replaceAll('=>', ':'))
    thirdYear = JSON.parse(thirdYear.replaceAll('=>', ':'))

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("channel").innerHTML = channel;
        updateTitles(channel)
        generateTableFromSchedule('firstYear', channel === '1' ? firstYear1 : firstYear2);
        generateTableFromSchedule('firstYearMobile', channel === '1' ? firstYear1 : firstYear2);
        generateTableFromSchedule('secondYear', channel === '1' ? secondYear1 : secondYear2);
        generateTableFromSchedule('secondYearMobile', channel === '1' ? secondYear1 : secondYear2);
        generateTableFromSchedule('thirdYear', thirdYear);
        generateTableFromSchedule('thirdYearMobile', thirdYear);

        const teachingCodes = Object.keys(schedules);

        teachingCodes.sort((codeA, codeB) => {
            const nameA = teachings[codeA].name.toLowerCase();
            const nameB = teachings[codeB].name.toLowerCase();
            return nameA.localeCompare(nameB);
        });

        for (const teachingCode of teachingCodes) {
            addTeachingSchedules(teachingCode);
        }
    });

    function updateTitles(channel) {
        document.getElementById("first-year").innerHTML = "Primo Anno " + (channel === '1' ? "A-F" : "G-Z");
        document.getElementById("second-year").innerHTML = "Secondo Anno " + (channel === '1' ? "A-L" : "M-Z");
    }
    
    function changeChannel() {
        channel = channel === '1' ? '2' : '1';
        if (channel === '1') {
            generateTableFromSchedule('firstYear', firstYear1);
            generateTableFromSchedule('firstYearMobile', firstYear1);
            generateTableFromSchedule('secondYear', secondYear1);
            generateTableFromSchedule('secondYearMobile', secondYear1);
        } else {
            generateTableFromSchedule('firstYear', firstYear2);
            generateTableFromSchedule('firstYearMobile', firstYear2);
            generateTableFromSchedule('secondYear', secondYear2);
            generateTableFromSchedule('secondYearMobile', secondYear2);
        }

        updateTitles(channel)
        localStorage.setItem('channel', channel);
        document.getElementById('channel').innerHTML = channel;
    }
</script>
