---
layout: default
---

<div class="relative">
    <button class="absolute top-2 right-0 flex items-center gap-2" onclick="changeChannel()">
        <span class="material-symbols-outlined">
            sort_by_alpha
        </span>
        Canale:
        <span id="channel" class="font-bold text-black dark:text-white">
        </span>
    </button>

    {{ content }}

    <h2>Primo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='firstYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='firstYearMobile'>
        </tbody>
    </table>

    <h2>Secondo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='secondYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='secondYearMobile'>
        </tbody>
    </table>

    <h2>Terzo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='thirdYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='thirdYearMobile'>
        </tbody>
    </table>
</div>

<script>
    let subjects = `
        {{ page.subjects }}
    `
    subjects = JSON.parse(subjects.replaceAll('=>', ':'))

    function generateTableFromSchedule(tableBodyId, schedule) {
        // Temp solution till schedule comes out
        // return;

        const COLORS = ['red', 'yellow', 'green', 'blue', 'purple']
        document.getElementById(tableBodyId).innerHTML = '';

        let classesStartTime = undefined,
            classesEndTime = undefined;

        for (let [_, events] of Object.entries(schedule))
            for (const {startTime, endTime} of events) {
                classesStartTime = Math.min(classesStartTime, startTime) || startTime;
                classesEndTime = Math.max(classesEndTime, endTime) || endTime;
            }

        let subjectsColors = {},
            nextColorIndex = 0;

        for (let time = classesStartTime; time < classesEndTime; time++) {
            let tableRow = document.createElement('tr'),
                timeCell = document.createElement('td');

            timeCell.classList.add('font-light', 'italic');
            timeCell.innerHTML = `${time}:00`;
            tableRow.append(timeCell);

            for (const day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']) {
                let tableCell = document.createElement('td'),
                    courses = schedule[day].filter(c => c.startTime <= time && c.endTime > time);

                for (let course of courses) {
                    if (tableBodyId.includes('Mobile'))
                        tableCell.innerHTML +=
                            subjects[course.subject] ?
                                subjects[course.subject].abbr :
                                course.subject.substring(0, 2).toUpperCase();
                    else
                        tableCell.innerHTML += course.subject.split(' ')[0];

                    if (!subjectsColors[course.subject])
                        subjectsColors[course.subject] = COLORS[nextColorIndex++ % COLORS.length];

                    tableCell.classList.add(subjectsColors[course.subject], 'font-bold');
                }

                tableRow.append(tableCell);
            }

            document.getElementById(tableBodyId).append(tableRow);
        }
    }

    let channel = localStorage.getItem('channel') || 'A-L';
    let firstYearAL = `
        {{ page.first-year-al }}
    `
    let firstYearMZ = `
        {{ page.first-year-mz }}
    `
    let secondYearAL = `
        {{ page.second-year-al }}
    `
    let secondYearMZ = `
        {{ page.second-year-mz }}
    `
    let thirdYear = `
        {{ page.third-year }}
    `

    firstYearAL = JSON.parse(firstYearAL.replaceAll('=>', ':'))
    // firstYearMZ = JSON.parse(firstYearMZ.replaceAll('=>', ':'))
    // secondYearAL = JSON.parse(secondYearAL.replaceAll('=>', ':'))
    // secondYearMZ = JSON.parse(secondYearMZ.replaceAll('=>', ':'))
    // thirdYear = JSON.parse(thirdYear.replaceAll('=>', ':'))

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("channel").innerHTML = channel;
        generateTableFromSchedule('firstYear', channel == 'A-L' ? firstYearAL : firstYearMZ);
        generateTableFromSchedule('firstYearMobile', channel == 'A-L' ? firstYearAL : firstYearMZ);
        generateTableFromSchedule('secondYear', channel == 'A-L' ? secondYearAL : secondYearMZ);
        generateTableFromSchedule('secondYearMobile', channel == 'A-L' ? secondYearAL : secondYearMZ);
        generateTableFromSchedule('thirdYear', thirdYear);
        generateTableFromSchedule('thirdYearMobile', thirdYear);
    });


    function changeChannel() {
        channel = channel == 'A-L' ? 'M-Z' : 'A-L';
        if (channel == 'A-L') {
            generateTableFromSchedule('firstYear', firstYearAL);
            generateTableFromSchedule('firstYearMobile', firstYearAL);
            generateTableFromSchedule('secondYear', secondYearAL);
            generateTableFromSchedule('secondYearMobile', secondYearAL);
        } else {
            generateTableFromSchedule('firstYear', firstYearMZ);
            generateTableFromSchedule('firstYearMobile', firstYearMZ);
            generateTableFromSchedule('secondYear', secondYearMZ);
            generateTableFromSchedule('secondYearMobile', secondYearMZ);
        }

        localStorage.setItem('channel', channel);
        document.getElementById('channel').innerHTML = channel;
    }
</script>
