---
layout: default
---

<div class="relative" id="main_div">
    {{ content }}

    <h2 id="first-year">Primo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='firstYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='firstYearMobile'>
        </tbody>
    </table>

    <h2 id="second-year">Secondo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='secondYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='secondYearMobile'>
        </tbody>
    </table>

    <h2 id="third-year">Terzo Anno</h2>

    <table class="hidden sm:table">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>Lunedì</th>
                <th scope='col'>Martedì</th>
                <th scope='col'>Mercoledì</th>
                <th scope='col'>Giovedì</th>
                <th scope='col'>Venerdì</th>
            </tr>
        </thead>
        <tbody id='thirdYear'>
        </tbody>
    </table>

    <table class="table sm:hidden">
        <thead>
            <tr>
                <th scope='col' class='font-light'>Orario</th>
                <th scope='col'>L</th>
                <th scope='col'>M</th>
                <th scope='col'>M</th>
                <th scope='col'>G</th>
                <th scope='col'>V</th>
            </tr>
        </thead>
        <tbody id='thirdYearMobile'>
        </tbody>
    </table>

    <h2>Orari per insegnamento</h2>
</div>

<script>
    let teachings = `
        {{ page.teachings }}
    `
    teachings = JSON.parse(teachings.replaceAll('=>', ':').replaceAll('nil', 'null'))

    let schedules = `
        {{ page.schedules }}
    `
    schedules = JSON.parse(schedules.replaceAll('=>', ':').replaceAll('nil', 'null'))

    let classrooms = `
        {{ page.classrooms }}
    `
    classrooms = JSON.parse(classrooms.replaceAll('=>', ':').replaceAll('nil', 'null'))

    function generateTableFromSchedule(tableBodyId, schedule) {
        const COLORS = ['red', 'yellow', 'green', 'blue', 'purple', 'orange', 'emerald', 'cyan', 'fuchsia', 'teal']
        document.getElementById(tableBodyId).innerHTML = '';

        let classesStartTime = undefined,
            classesEndTime = undefined;

        for (let [_, events] of Object.entries(schedule))
            for (const {startTime, endTime} of events) {
                classesStartTime = Math.min(classesStartTime, startTime) || startTime;
                classesEndTime = Math.max(classesEndTime, endTime) || endTime;
            }

        let teachingsColors = {},
            nextColorIndex = 0;

        for (let time = classesStartTime; time < classesEndTime; time++) {
            let tableRow = document.createElement('tr'),
                timeCell = document.createElement('td');

            timeCell.classList.add('font-light', 'italic');
            timeCell.innerHTML = `${time} - ${time + 1}`;
            tableRow.append(timeCell);

            for (const day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']) {
                if (schedule[day]) {
                    let tableCell = document.createElement('td'),
                        courses = schedule[day].filter(c => c.startTime <= time && c.endTime > time);

                    for (let course of courses) {
                        courseLink = document.createElement('a');
                        courseLink.href = "#" + course.teachingCode

                        if (tableBodyId.includes('Mobile'))
                            courseLink.textContent =
                                teachings[course.teachingCode] ?
                                    (
                                        teachings[course.teachingCode].abbr ?
                                            teachings[course.teachingCode].abbr :
                                            teachings[course.teachingCode].name.substring(0, 2).toUpperCase()
                                    )
                                    :
                                    course.teachingCode;
                        else
                            courseLink.textContent =
                                teachings[course.teachingCode] ?
                                    (
                                        teachings[course.teachingCode].shortName ?
                                            teachings[course.teachingCode].shortName :
                                            teachings[course.teachingCode].name
                                    )
                                    :
                                    course.teachingCode;

                        tableCell.appendChild(courseLink)

                        if (!teachingsColors[course.teachingCode])
                            teachingsColors[course.teachingCode] = COLORS[nextColorIndex++ % COLORS.length];

                        courseLink.classList.add(teachingsColors[course.teachingCode], 'font-bold');
                    }

                    tableRow.append(tableCell);
                }
            }

            document.getElementById(tableBodyId).append(tableRow);
        }
    }

    function createTeachingSchedulesTable(teachingCode) {
        var table = document.createElement('table');
        table.classList.add('table');

        var thead = document.createElement('thead');
        var tr = document.createElement('tr');

        var th1 = document.createElement('th');
        th1.setAttribute('scope', 'col');
        th1.textContent = 'Giorno';

        var th2 = document.createElement('th');
        th2.setAttribute('scope', 'col');
        th2.textContent = 'Docente';

        var th3 = document.createElement('th');
        th3.setAttribute('scope', 'col');
        th3.textContent = 'Orario';

        var th4 = document.createElement('th');
        th4.setAttribute('scope', 'col');
        th4.textContent = 'Aula';

        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);
        tr.appendChild(th4);
        thead.appendChild(tr);

        var tbody = document.createElement('tbody');
        tbody.setAttribute('id', teachingCode + "-table");

        table.appendChild(thead);
        table.appendChild(tbody);

        return table;
    }

    function translateDayName(dayInEnglish) {
        const translations = {
            monday: 'Lunedì',
            tuesday: 'Martedì',
            wednesday: 'Mercoledì',
            thursday: 'Giovedì',
            friday: 'Venerdì',
            saturday: 'Sabato',
            sunday: 'Domenica'
        };

        return translations[dayInEnglish] || "Invalid day name";
    }

    function addRowToTeachingSchedulesTable(table, dayName, teacherName, teacherPageUrl, hours, teachingClassrooms) {
        var tbody = table.tBodies[0];

        var row = document.createElement('tr');

        var dayCell = document.createElement('td');
        dayCell.textContent = translateDayName(dayName);
        row.appendChild(dayCell);

        var teacherCell = document.createElement('td');
        var teacherLink = document.createElement('a');
        teacherLink.textContent = teacherName;
        teacherLink.href = teacherPageUrl;
        teacherCell.appendChild(teacherLink);
        row.appendChild(teacherCell);

        var hoursCell = document.createElement('td');
        hoursCell.textContent = hours;
        row.appendChild(hoursCell);

        const classroomCell = document.createElement('td');
        const groupedBuildings = {};

        Object.entries(teachingClassrooms).forEach(([locationId, teachingClassroomDesc]) => {
            const match = teachingClassroomDesc.match(/Aula (.*?) \(Edificio: ([^)]+)\)/);
            if (match) {
                const classroom = match[1];
                const building = match[2];
                if (!groupedBuildings[building]) {
                    groupedBuildings[building] = {
                        classrooms: [],
                        mapsUrls: [],
                    };
                }
                groupedBuildings[building].classrooms.push(`Aula ${classroom}`);

                const mapUrl = classrooms[locationId]?.mapsUrl;
                if (mapUrl) {
                    groupedBuildings[building].mapsUrls.push(mapUrl);
                }
            }
        });

        const uniqueBuildings = Object.keys(groupedBuildings);

        uniqueBuildings.forEach((building, index) => {
            if (index > 0) {
                classroomCell.appendChild(document.createTextNode(', '));
            }

            const buildingClassrooms = groupedBuildings[building].classrooms.join(', ');

            classroomCell.appendChild(document.createTextNode(buildingClassrooms));

            const uniqueMapsUrls = [...new Set(groupedBuildings[building].mapsUrls)];

            if (uniqueMapsUrls.length > 0) {
                classroomCell.appendChild(document.createTextNode(` (Edificio: ${building}) `));

                const classroomMapsLink = document.createElement('a');
                classroomMapsLink.textContent = `[mappa]`;
                classroomMapsLink.href = (groupedBuildings[building].classrooms.length > 1) ?
                    uniqueMapsUrls[0].replace(/\(Aula\+[^)]+\)/g, '') :
                    uniqueMapsUrls[0];

                classroomCell.appendChild(classroomMapsLink);
            } else {
                classroomCell.appendChild(document.createTextNode(` (Edificio: ${building}) `));
            }
        });

        row.appendChild(classroomCell);

        tbody.appendChild(row);
    }

    function addTeachingSchedules(teachingCode) {
        const mainDiv = document.getElementById('main_div');

        const teachingData = teachings[teachingCode];

        const h3Element = document.createElement("h3");
        h3Element.id = teachingCode;
        h3Element.textContent = teachingCode;

        if (teachingData.name) {
            h3Element.textContent += " - " + teachingData.name;
        }

        mainDiv.appendChild(h3Element);

        let teachingSchedulesTable = createTeachingSchedulesTable(teachingCode);

        mainDiv.appendChild(teachingSchedulesTable);

        const schedulesArray = Object.entries(schedules[teachingCode]);

        schedulesArray.sort((a, b) => {
            const daysOfWeekOrder = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
            return daysOfWeekOrder.indexOf(a[0]) - daysOfWeekOrder.indexOf(b[0]);
        });

        schedulesArray.forEach(([englishDayName, schedule]) => {
            addRowToTeachingSchedulesTable(teachingSchedulesTable, englishDayName, schedule.teacherName, schedule.teacherPageUrl, schedule.hours, schedule.classrooms);
        });
    }

    let firstYear = `
        {{ page.first-year }}
    `
    let secondYear = `
        {{ page.second-year }}
    `
    let thirdYear = `
        {{ page.third-year }}
    `

    firstYear = JSON.parse(firstYear.replaceAll('=>', ':'))
    secondYear = JSON.parse(secondYear.replaceAll('=>', ':'))
    thirdYear = JSON.parse(thirdYear.replaceAll('=>', ':'))

    document.addEventListener('DOMContentLoaded', () => {
        generateTableFromSchedule('firstYear', firstYear);
        generateTableFromSchedule('firstYearMobile', firstYear);
        generateTableFromSchedule('secondYear', secondYear);
        generateTableFromSchedule('secondYearMobile', secondYear);
        generateTableFromSchedule('thirdYear', thirdYear);
        generateTableFromSchedule('thirdYearMobile', thirdYear);

        const teachingCodes = Object.keys(schedules);

        teachingCodes.sort((codeA, codeB) => {
            const nameA = teachings[codeA].name.toLowerCase();
            const nameB = teachings[codeB].name.toLowerCase();
            return nameA.localeCompare(nameB);
        });

        for (const teachingCode of teachingCodes) {
            addTeachingSchedules(teachingCode);
        }
    });
</script>
